---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1>About</h1>

  <p>
    My name is Louis and goes by the pen name of Ladrian. Aesleth Codex Lore Library is my personal archive for worldbuilding notes,
    characters, items, and historical records, it serves to help me build the world i've been imagining into a "wikipedia". 
    I'm still developing the main story for Aesleth Codex, but I certainly could make the world first.

  </p>

  <p>
    Still in development—structure and entries may change over time.
  </p>
</BaseLayout>
